## Import packages

In [1]:
import pandas as pd
import numpy as np

## Load data

In [2]:
timeline_data = pd.read_csv('../Parsed Data/timeline_data.csv')

In [3]:
timeline_data.shape

(793877, 8)

In [4]:
timeline_data.head()

,counter,timestampMs,latitudeE7,longitudeE7,accuracy,altitude,velocity,heading
0,1,1546522089289,547247940,253253133,899,NaN,NaN,NaN
1,2,1546522089108,547247940,253253133,899,NaN,NaN,NaN
2,3,1546521791818,547247940,253253133,899,NaN,NaN,NaN
3,4,1546521788333,547247940,253253133,899,NaN,NaN,NaN
4,5,1546521788109,547247940,253253133,899,NaN,NaN,NaN

## Data Analysis